<!DOCTYPE html>
<html >

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Учет МТЦ | Учет материально-технических ценностей на складе космической техники</title>
    <!-- Favicon-->
    <link rel="icon" href="favicon.ico" type="image/x-icon">

  

    <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
    @*<link href="~/css/themes/all-themes.css" rel="stylesheet" />*@
    @Styles.Render("~/Content/material")
    @Styles.Render("~/Content/plugins")
    @Styles.Render("~/Content/css")
    <!-- Dropzone Css -->
    <link href="~/plugins/fine-uploader/fine-uploader/fine-uploader-gallery.css" rel="stylesheet">
    <link href="~/plugins/dropzone/dropzone.css" rel="stylesheet">
    <link href="~/plugins/angular-material/angular-material.min.css"   rel=" stylesheet"> 
    <link href="~/plugins/animate-css/animate.css" rel="stylesheet">
    <link href="~/plugins/angular-sweetalert/sweet-alert.css" rel="stylesheet"> 
    <link href="~/plugins/md-chips-select/dist/md-chips-select.min.css" rel="stylesheet">  
</head>

<body class="theme-red" ng-app="app" ng-controller="appCtrl">

    @RenderBody()
    @*<!-- Jquery Core Js -->
        @Scripts.Render("~/bundles/jquery")

         <!-- Bootstrap Core Js -->
         @Scripts.Render("~/bundles/bootstrap")

         <!-- Select Plugin Js -->
         @Scripts.Render("~/bundles/bootstrap-select")

         <!-- Slimscroll Plugin Js -->
         @Scripts.Render("~/bundles/slimscroll")

         <!-- Waves Effect Plugin Js -->
         @Scripts.Render("~/bundles/waves")

         <!-- Jquery CountTo Plugin Js -->
         @Scripts.Render("~/bundles/countTo")

         <!-- Morris Plugin Js -->
         @Scripts.Render("~/bundles/Morris")

         <!-- ChartJs -->
         @Scripts.Render("~/bundles/Chart")

         <!-- Flot Charts Plugin Js -->
         @Scripts.Render("~/bundles/flot")

         <!-- Sparkline Chart Plugin Js -->
         @Scripts.Render("~/bundles/sparkline")

         <!-- Custom Js -->
         @Scripts.Render("~/bundles/js")

         <!-- Demo Js -->
         <script src="~/js/demo.js"></script>*@
    <!-- Jquery Core Js -->

    <script src="~/plugins/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core Js -->
    <script src="~/plugins/bootstrap/js/bootstrap.js"></script>

    <!-- Angular Material requires Angular.js Libraries -->
    <script src="~/plugins/angular/angular.min.js"></script>
    <script src="~/Scripts/angular-locale_ru-ru.js"></script>
    <script src="~/plugins/angular-animate/angular-animate.min.js"></script>
    <script src="~/plugins/angular-aria/angular-aria.min.js"></script>
    <script src="~/plugins/angular-messages/angular-messages.min.js"></script> 
    <!-- Angular Material Library -->
    <script src="~/plugins/angular-material/angular-material.min.js"></script>  
    <script src="~/plugins/md-steppers/dist/md-steppers.js"></script>

    <script src="~/plugins/fine-uploader/fine-uploader/fine-uploader.js"></script>

    <script src="~/js/pages/ui/dialogs.js"></script>

    <script src="~/Scripts/AngularUI/ui-router.min.js"></script>
    <script src="~/Scripts/angular-resource.min.js"></script>  
    <script src="~/Scripts/angular-file-upload.min.js"></script>

    <script src="~/plugins/angular-material-data-table/dist/md-data-table.min.js"></script>
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/angular-datatables.min.js"></script>
    <script src="~/plugins/md-chips-select/dist/md-chips-select.min.js"></script> 
    <script src="~/plugins/angular-file-saver/dist/angular-file-saver.min.js"></script>  
    <script src="~/plugins/angular-file-saver/dist/angular-file-saver.bundle.js"></script>  

     
    <script src="~/plugins/scalyr/core.js"></script> 
    <script src="~/plugins/scalyr/scalyr.js"></script>  
    <script src="~/plugins/scalyr/slyEvaluate.js"></script>  
    <script src="~/plugins/scalyr/slyRepeat.js"></script>  
    @Scripts.Render("~/bundles/Warehouse")
    <!-- Select Plugin Js -->
    <script src="~/plugins/bootstrap-select/js/bootstrap-select.js"></script>
    <!-- Dropzone Plugin Js -->
    <script src="../../plugins/dropzone/dropzone.js"></script>

    <!-- Slimscroll Plugin Js -->
    <script src="~/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="~/plugins/node-waves/waves.js"></script>

    <script src="~/plugins/angular-sweetalert/SweetAlert.js"></script>
    <script src="~/plugins/momentjs/moment.js"></script>
    <script src="~/plugins/momentjs/locale/ru.js"></script>
    <script src="~/plugins/angular-moment/angular-moment.min.js"></script>
    <!-- Jquery CountTo Plugin Js -->
    <script src="~/plugins/jquery-countto/jquery.countTo.js"></script>
    <script src="~/plugins/jquery-countto/jquery.countTo.js"></script>

    <!-- Morris Plugin Js -->
    <script src="~/plugins/raphael/raphael.min.js"></script>
    <script src="~/plugins/morrisjs/morris.js"></script>


    <!-- ChartJs -->
    @*<script src="~/plugins/chartjs/Chart.bundle.js"></script>*@

    <!-- Flot Charts Plugin Js -->
    @*<script src="~/plugins/flot-charts/jquery.flot.js"></script>
    <script src="~/plugins/flot-charts/jquery.flot.resize.js"></script>
    <script src="~/plugins/flot-charts/jquery.flot.pie.js"></script>
    <script src="~/plugins/flot-charts/jquery.flot.categories.js"></script>
    <script src="~/plugins/flot-charts/jquery.flot.time.js"></script>*@


    <script src="~/plugins/angular-paging/dist/paging.min.js"></script>


  
    <!-- Sparkline Chart Plugin Js -->
    <script src="~/plugins/jquery-sparkline/jquery.sparkline.js"></script>

    <!-- Custom Js -->
    <script src="~/js/admin.js"></script>
    <script src="~/js/pages/index.js"></script>

    <!-- Demo Js -->
    <script src="~/js/demo.js"></script>
</body>

</html>